/*CSS FOR TITLE SCREEN*/

/* background image */
.titleScreen {
    background-image: url('https://wallpaperaccess.com/full/1486722.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* title and play button positioning */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-family: 'Alfa Slab One', sans-serif;
}

/* title decoration */
.title {
    font-size: 11rem;
    color: #6D0000;
    text-shadow: 6px 6px 5px black;
}

/* play button decoration */
.play {
    text-decoration: none;
    background-color: orange;
    font-size: 2.5rem;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    color: black;
    box-shadow: 3px 7px 5px black;
}

/* interact with the play button */
.play:hover, .play:focus {
    background-color: hsl(39, 100%, 40%);
    
}

/* CSS FOR GAME SCREEN */

/* table decoration and placement */
td {
    border: 1px solid black;
    height: 2.5rem;
    width: 2.5rem;
    background-color: lightblue;
    opacity: 60%;
    max-width: 2.5rem;
    max-height: 2.5rem;
    overflow: visible;
    /* cursor: crosshair; */
}

td:hover, td:focus {
    background-color: gray;
}

table div {
    background-color: red;
}
table {
    border-spacing: 0px;
    
}

th {

    color: white; 
}


.gameboard1 {
    float: left;
    margin: 2% 0% 2% 25%;
}

.gameboard2 {
    float: right;
    margin: 2% 25% 2% 0%;
}

/* top message decoration and placement */
.message {
    text-align: center;
    margin: 4% auto 0 auto;
    width: 30%;
    font-size: 1.5rem;
    font-family: 'Alfa Slab One', sans-serif;
    color: white;
    text-shadow: 6px 4px 5px black;
}

/* background */
.gameScreen {
    background: url('https://img1.wallspic.com/previews/9/7/9/0/4/140979/140979-video_games-massively_multiplayer_online_game-naval_warfare-battlecruiser-warship-x750.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

/* player and computer messages at the bottom of the boards */
.gameboardMessage {
    color: white;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    text-shadow: 3px 3px 3px black;
}

/* Start and Rotate buttons */
.buttons {
    text-align: center;
}

.rotateShips {
    transform: rotate(90deg);
    display: inline-block;
    margin-top: 90px;
}

.start, .rotate {
    font-size: 18px;
    padding: 5px 7px;
    margin-left: 15px;
    box-shadow: 2px -2px 3px black;
    font-family: 'Alfa Slab One', sans-serif;
    background-color: orange;
}

.start:hover, .start:focus, .rotate:hover, .rotate.focus {
    background-color: hsl(39, 100%, 40%);
}

/* ships */
.ships {
    text-align: center;
    color: white;
    justify-content: space-around;
    display: flex;
    margin-top: 20px;
}

.hit {
    color: #f3172d;
    opacity: 100%;
    text-align: center;
    font-size: 28px;
    font-family: 'Alfa Slab One', sans-serif;
} 

.carrier {
    background-color: gray;
    height: 2.5rem;
    width: 13.5rem;
    margin-bottom: 5px;
    max-width: 13.5rem;
    max-height: 2.5rem;
    min-width: 13.5rem;
    min-height: 2.5rem;
}

.battleship {
    background-color: gray;
    height: 2.5rem;
    width: 11rem;
    margin-bottom: 5px;
}

.cruiser, .submarine{
    background-color: gray;
    height: 2.5rem;
    width: 8rem;
    margin-bottom: 5px;
}

.destroyer {
    background-color: gray;
    height: 2.5rem;
    width: 5.5rem;
    margin-bottom: 5px;
    
}

.miss {
    color: white;
    opacity: 100%;
    text-align: center;
    font-size: 28px;
    font-family: 'Alfa Slab One', sans-serif;
}

.occupied {
    opacity: 100%; 
}